In [ ]:
import sqlite3 as sql
import pandas as pd

Establish connection to a database. note that this creates a databse if it does not exist.

Step 1 -  connect to the database

In [ ]:
con = sql.connect('cleanData.db')

In [ ]:
df = pd.read_csv('clean_DataL2.csv',index_col = 'Date')
df.to_sql('clean_data',con,if_exists = 'replace')

Reminder of the table's contents

In [ ]:
df.head()

To execute SQLite statements in Python, you need a cursor object. You can create it using the cursor() method.The cursor is a method form the object connection and thus you can only create it after establishing the connection.<br>
Note: sql keywords are not case sensitive *SELECT* and *select* is the same.

In [ ]:
cursorObj = con.cursor()

Extract data - Keyword *SELECT*

In [ ]:
cursorObj.execute('SELECT * FROM clean_data')

In [ ]:
data = cursorObj.fetchall()

In [ ]:
print(data)

In [ ]:
for row in data:
    print(row)

Now instead of going through each of these steps to execute a query let us write a function so that we can write and execute queries more efficently.

In [ ]:
def sql_execute(query):

    cursorObj.execute(query)

    rows = cursorObj.fetchall()
    
    [print(row) for row in rows]

In [ ]:
sql_execute('SELECT * FROM clean_data')

Extract from certain column

In [ ]:
sql_execute('SELECT calories FROM clean_data')

Filtering records, i.e using conditional statements inside of queries to filter data.
Keyword for filtering - *Where*

In [ ]:
sql_execute('select calories FROM clean_data WHERE calories > 110')

Combining it with AND/OR

In [ ]:
sql_execute('SELECT * from clean_data where calories > 300 AND pulse < 110')

Sorting database - Keyword *Order by* , sorts ascending by default.

In [ ]:
sql_execute('SELECT * FROM clean_data Order by date,calories DESC')

Min and Max functions allows you to find the smallest/largest values of a specific column

In [ ]:
sql_execute('SELECT MIN(calories) from clean_data')

Count allows to return the number of rows of a column

In [ ]:
sql_execute('SELECT COUNT(*) from clean_data')

However count is usually coupled with a conditinal statement

In [ ]:
sql_execute('SELECT COUNT(*) from clean_data Where calories > 300')

Sum and avg functions

In [ ]:
sql_execute('SELECT SUM(calories) from clean_data')

In [ ]:
sql_execute('SELECT Avg(Calories) from clean_data')

extract only specific number of rows, useful in large databases , keyword *limit*

In [ ]:
sql_execute('SELECT * FROM clean_data limit 5')

It is also useful combining it with the keyword order by when you might want to extract only the top results
<br> Select the 5 highest calories

In [ ]:
sql_execute('SELECT * FROM clean_data order by calories desc limit 5')

The key word *in* allows you to specify multiple values in where statement.It is a shorthand operation for using multiple OR conditions.

In [ ]:
sql_execute('SELECT * from clean_data where calories in (200,300,700)')

You can search for pattern in a database using the keyword *like* the keyword is usually used with in a conditional statement.There are wildcards that could be used within the like statement.These wildcards are *%* and *_*. The percent sign represents zero,one,or multiple charachters.The underscore characters represents one single character.The example below retrieves calories which end by 4.

In [ ]:
sql_execute('SELECT * from clean_data where calories like "%4%" ')

Another useful keyword is *Group by* which allows you to group rows that have the same values. The group by statement is very useful when combined by an aggreagate function function(count(),sum(),avg()) since you can group the result set by one or more columns.

In [ ]:
sql_execute('SELECT count(duration),calories from clean_data where duration = 60 group by calories')